#RENAME THIS FILE TO .env AND UPDATE THE VALUES
#DO NOT COMMIT ANY CHANGE TO REPO
INFURA_API_KEY=infuraapikeyklena30dfjk12ksdj3
INFURA_URL="https://rinkeby.infura.io/v3/"
MNEMONIC="update to your mnemonic, do not push yo ur mnemonic to repository"